@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

#quiz-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .question-container {
        margin-bottom: 20px;
    }    
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#results-container {
    margin-top: 20px;
    font-weight: bold;
}

.cor